<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">[%d{yyyy-MM-dd HH:mm:ss}] %-17t %-5p - %m%n</Property>
        <Property name="LOG-FILE-NAME">guava-st-10.log</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <Console name="patternless-console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="%m%n"/>
        </Console>
        <File name="log-file" fileName="logs/${LOG-FILE-NAME}">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </File>
        <File name="patternless-log-file" fileName="logs/${LOG-FILE-NAME}">
            <PatternLayout pattern="%m%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Logger name="patternless" level="debug" additivity="false">
            <AppenderRef ref="patternless-console"/>
            <!--<AppenderRef ref="patternless-log-file"/>-->
        </Logger>
        <Root level="info">
            <AppenderRef ref="console"/>
            <!-- <AppenderRef ref="log-file"/>-->
         </Root>
     </Loggers>
 </Configuration>